<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row row-margin-top">
                <div class="col-sm-6 marginAuto form-border">
                    <div class="row text-center text-white bg-danger">
                        <div class="col">
                            <div class="p-3 mb-2 bg-danger text-white header-reg-form">Registration Form</div>
                        </div>
                    </div>
                    <form #registerForm="ngForm">
                        <div class="p-3 mb-2">
                            <div class="form-group">
                                <label for="email">User Name:</label>
                                <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address:</label>
                                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
                            </div>
                            <div class="form-group">
                                <label for="pwd">First Name:</label>
                                <input type="text" class="form-control" name="firstname" [(ngModel)]="user.firstname" required>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Last Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="user.lastname" name="lastname" required>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Address:</label>
                                <textarea rows="4" class="form-control" [(ngModel)]="user.address" name="address"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" name="password" (change)="passwordChangeHandler('password',registerForm)" [(ngModel)]="user.password"
                                    required>
                            </div>
                            <!-- <div class="form-group">
                                <label for="pwd">Confirm Password:</label>
                                <input type="password" class="form-control" [(ngModel)]="user.c_password" id="c_password" (change)="passwordChangeHandler('c_password',registerForm)"
                                    name="c_password" required>
                            </div> -->
                            <div class="form-group">
                                <label>Gender:</label> Male <input type="radio" [checked]="user.gender=='M'" name="gender"
                                    required [(ngModel)]="user.gender" value='M' /> Female
                                <input type="radio" [checked]="user.gender=='F'" name="gender" [(ngModel)]="user.gender" value='F' />
                            </div>
                            <div class="form-group">
                                <a class="btn btn-primary" routerLink="/login">back</a>
                                <button class="btn btn-info" [disabled]="registerForm.pristine || registerForm.invalid" (click)="register()">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>